$color-white: #ffffff;
$color-dark-red: #841527;
$color-page-green: #66FF00;
$color-light-pink: #F2DBDD;
$color-gray: #CCCCCC;
$color-green-dark:#014718;
$color-green-light:#c5e2ca;
$color-black: #000000;