@import "color";
@import "mixins";
@font-face {
  font-family: "Apple_Chancery";
  src: url(../../fonts/apple-chancery.ttf);
}
.ng-isolate-scope{
  div{
    div{
      sgv{
        border:1px solid red;
      }
    }
  }
}
.cart-block{
  border:1px solid;
  position: absolute;

  right:50px;
  width:20%;
  background: #fff;
  z-index: 99999;
  .checkoutBtn{
    height: 20px;
    width: 20%;
    display: block!important;
    border: 1px solid;
  }
}
@media (max-width:600px) {
  .cart-block{
    width:100%;
    right:0px;
  }
}
@media (min-width:750px) {
  .cart-block{
    width:50%;
    right:20px;
  }
}
.jumbotron{
  .page-header{
    border: 2px double $color-green-dark;
    font-family: "Apple_Chancery";
    text-align: center;
    color: $color-dark-red;
    padding-bottom: 3px;
  }
  .productBox{
    border: 6px solid $color-light-pink;
    background:$color-green-dark;
    margin: 0;
    padding-bottom: 3px;
    .productImage{
      width: 100%;
      display: block;
      img {
        width: 100% !important;
        display: block;
      }
    }
    .productTitle{
      border: 2px outset;
      padding-top: 3px;
      padding-bottom: 3px;
      background: $color-white;
      font-family: "Apple_Chancery";
      text-align: center;
      font-size: larger;
      font-weight: bold;
      margin: 20px 0 10px 0;
    }
    .productDescription{
      border: 2px outset;
      padding-top: 3px;
      padding-bottom: 3px;
      background: $color-white;
      font-family: "Apple_Chancery";
      text-align: center;
      font-size: larger;
      font-weight: bold;
      margin: 20px 0 10px 0;
    }
    .productPrice{
      padding-top: 3px;
      padding-bottom: 3px;
      background: $color-white;
      font-family: "Apple_Chancery";
      text-align: center;
      font-size: larger;
      font-weight: bold;
      margin: 20px 0 10px 0;
    }
    .productDiscountprice{
      padding-top: 3px;
      padding-bottom: 3px;
      background: $color-white;
      font-family: "Apple_Chancery";
      text-align: center;
      font-size: larger;
      font-weight: bold;
      margin: 20px 0 10px 0;
    }
    .arc-top:before, .arc-top:after, .arc-bottom:before, .arc-bottom:after {
      content:'';
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 50%;
    }
    .arc-top:before {
      top: -12px;
      left: -12px;
    }
    .arc-top:after {
      top: -12px;
      right: -12px;
    }
    .arc-bottom:before {
      bottom: -12px;
      left: -12px;
    }
    .arc-bottom:after {
      bottom: -12px;
      right: -12px;
    }
  }
}
@media (max-width:350px) {
  .jumbotron {
    .productBox {
      width:100%;
      display: block;
    }
  }
}