<div>
	<h1>StockItem CRUD</h1>
	
	<p>{{ message }}</p>
	<form role="form" name="myForm">
		<div class= "form-group" ng-class="{error: myForm.title.$invalid}">
			<label> Title </label>
			<div>
			<input name="title" ng-model="stockitem.title" type= "text" class= "form-control" placeholder="Title" required/>
			<span ng-show="myForm.title.$dirty && myForm.title.$invalid" class="help-inline">Title Required</span>
			</div>
		</div>

	  
		<a href="#/book/index" class="btn btn-default">Cancel</a>
		<button ng-click="createBook(stockitem);"
                ng-disabled="myForm.$invalid"
                type="submit" class="btn btn-default">Submit</button>
	</form>
</div>